@import '../assets/styling/colors';
@import '../assets/styling/mixins';

.mainModal {
    @include border();
    @include display(); 
    flex-direction: column;
    background-color: $secondary;
    width: 75vw;
    margin: 0 auto;
    overflow: hidden;
    
   button{
        @include button();
    }
}

h1 {
    font-size: 68px;
    text-decoration: underline;
}


button:hover {
    @include buttonHover();
}

span {
    font-size: 12px;
    border: 1px solid $solid;
    padding: 15%;
}

.pages {
    width: 70vw;
    margin: 0 auto;
    @include display();
    justify-content: space-between;
}

.links {
    width: 100%;
    @include display();
    justify-content: space-between;
}

.links+p {
    color:$accent;
    padding:0 1%;
    width: 10px;
    margin:0 auto;
    border: 1px solid $accent;
    border-radius:50%;
}