@import '../styling/colors';

@mixin display{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
}

@mixin a{
    color: $solid;
    font-size: 14px;
    text-decoration: none;
}

@mixin ahover {
    color:$hover;
    font-size: 18px;
    background-color: $primary;
    padding: 1%;
    width: 10%;
    margin: 0 auto;
    border-radius: 7%;
}

@mixin border {
    border: 2px solid $primary;
    padding: 1%;
    box-shadow: 10px 10px 8px $accent;
}

@mixin button {
    border-radius:5%;
    background-color:$teal;
    padding:1%;
    @include a();
}

@mixin img {
    width: 150px;
    height: 150px;
    @include border();
}